{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card rounded-4">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-lg-block">
                            <img src="https://images.photowall.com/products/48586/snowboard-grab.jpg?h=699&q=85"
                                alt="login form" class="img-fluid h-100 rounded-start-4" />
                        </div>
                        <div class="col-md-12 col-lg-7 d-flex align-items-center">
                            <div class="d-flex flex-column align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <p>Pseudonyme: <b>{{ user.username }}</b></p>
                                    <p>Email: <b>{{ user.email }}</b></p>
                                    {{ form_start(form) }}
                                    {{ form_row(form.profilePicture) }}
                                    {{ form_rest(form) }}
                                    <button type="submit" class="btn btn-primary col-6">Valider</button>
                                    {{ form_end(form) }}
                                    {# <a class="btn btn-primary" href="">Changer l'image de profile</a> #}
                                    <a class="btn btn-primary" href="{{ path('forgotten_password') }}">
                                        Réinitialiser le mot de passe
                                    </a>
                                </div>
                                <p>Image de profile</p>
                                {% if picture != NULL %}
                                <img style="width: 200px; height: 200px; background-position: center;" src="{{ asset('assets/uploads/'~picture) }}" alt="">
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}