{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
<div class="container-fluid p-0 text-white">
    <div class="d-flex flex-column justify-content-center">
        <section class="container-fluid d-flex flex-column align-items-center p-0">
            <div class="principale-image-groupe col-12 d-flex align-items-center justify-content-center"
            style="background: no-repeat url('{{ asset(mainPicture) }}'); background-position: center; object-fit: cover; height: 300px; filter: grayscale(65%);">
                <h1>{{ trick.name }}</h1>
            </div>

            <div class="d-flex flex-wrap justify-content-center align-items-center">
                {% for picture in pictures %}
                <img class="col-2 m-2" src="{{ asset('assets/uploads/'~picture.url) }}" alt="">
                {% endfor %}
                {% for video in videos %}
                <iframe class="col-2 m-2" src="{{ video.url }}" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
                {% endfor %}
            </div>

            <div class="d-flex flex-column align-items-center">
                <p>Groupe de figure: <b>{{ trick.groups.name }}</b></p>
                <p>{{ trick.description }}</p>
            </div>

            <div class="d-flex">
                <div class="card m-2">
                    <p class="card-text">Créer le: {{ trick.dateCreate|date('d-m-Y') }}</p>
                </div>
                {% if trick.dateEdit != null %}
                <div class="card m-2">
                    <p class="card-text">Modifié le: {{ trick.dateEdit|date('d-m-Y') }}</p>
                </div>
                {% endif %}
            </div>

            <div class="col-12 d-flex flex-column align-items-center">
                {% if app.user %}
                <div class="col-6">
                    {{ form_start(formComment, { attr: { class: "d-flex flex-column justify-content-center m-3" }}) }}
                    {{ form_widget(formComment.content) }}
                    {{ form_rest(formComment) }}
                    <button class="btn btn-primary" type="submit">Valider</button>
                    {{ form_end(formComment) }}
                </div>
                {% endif %}
                <div class="col-5 bg-secondary rounded">
                    {% for comment in comments %}
                    <div class="d-flex flex-start m-3">
                        {% if comment.user.profilePicture == null %}
                        <img class="rounded-circle shadow-1-strong me-3" src="{{ asset('image/pp_base.jpg') }}"
                            alt="avatar" width="60" height="60" />
                        {% else %}
                        <img class="rounded-circle shadow-1-strong me-3"
                            src="{{ asset('assets/uploads/'~comment.user.profilePicture) }}" alt="avatar" width="60"
                            height="60" />
                        {% endif %}
                        <div>
                            <h6 class="fw-bold mb-1">{{ comment.user.username }}</h6>
                            <p class="mb-0">
                                {{ comment.content }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>
{% endblock %}