{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
<section class="container-fluid d-flex flex-column align-items-center mt-3">
    <div class="col d-flex flex-wrap justify-content-center">
        {% for trick in tricks %}
        {% set pictureUrl = '' %}
        {% if trick.pictures.0 is defined %}
            {% set pictureUrl = 'assets/uploads/'~trick.pictures.0.url %}
        {% else %}
            {% for group in groups %}
                {% if group.id == trick.groups.id %}
                    {% set pictureUrl = 'image/'~group.illustrationUrl %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="card col-12 col-lg-3 m-2">
            <a href="{{ path('one_trick', {'name': trick.name}) }}" class="text-dark text-decoration-none">
                <img src="{{ asset(pictureUrl) }}" class="card-img-top" alt="...">
                <div class="col-12 d-flex align-items-center">
                    <a href="{{ path('one_trick', {'name': trick.name}) }}"
                        class="col-10 text-dark text-decoration-none">
                        <h2 class="col-10">{{ trick.name }}</h2>
                    </a>
                    {% if app.user %}
                    <a class="col-1 text-dark text-decoration-none"
                        href="{{ path('form_edit', {'name': trick.name}) }}">
                        <i class="col-1 fa-solid fa-pen"></i>
                    </a>
                    <a class="col-1 text-dark text-decoration-none"
                        href="{{ path('delete_trick', {'name': trick.name}) }}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div>
        {% if previous >= 0 %}
        <a class="text-white text-decoration-none" href="{{ path('all_tricks', { offset: previous }) }}"><i
                class="fa-solid fa-square-caret-left fa-2xl"></i></a>
        {% endif %}
        {% if next < tricks|length %} <a class="text-white text-decoration-none"
            href="{{ path('all_tricks', { offset: next }) }}"><i class="fa-solid fa-square-caret-right fa-2xl"></i></a>
            {% endif %}
    </div>
</section>
{% endblock %}
