{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
<section class="container-fluid d-flex flex-column align-items-center mt-3">
    <div class="col d-flex flex-wrap justify-content-center">
        {% for trick in tricks %}
        <div class="card col-12 col-lg-3 m-2">
            <a href="{{ path('one_trick', {'id': trick.id}) }}" class="text-dark text-decoration-none">
                <img src="https://i.pinimg.com/originals/7d/60/a1/7d60a164b6462c6edebad8e61117ea61.jpg"
                    class="card-img-top" alt="...">
                <div class="col-12 d-flex align-items-center">
                    <a href="{{ path('one_trick', {'id': trick.id}) }}" class="col-10 text-dark text-decoration-none">
                        <h2 class="col-10">{{ trick.name }}</h2>
                    </a>
                    <a class="col-1 text-dark text-decoration-none" href="{{ path('edit_trick', {'id': trick.id}) }}">
                        <i class="col-1 fa-solid fa-pen"></i>
                    </a>
                    <a class="col-1 text-dark text-decoration-none" href="{{ path('delete_trick', {'id': trick.id}) }}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}