{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
<div class="container-fluid p-0 text-white">
    <section class="container-fluid d-flex flex-column align-items-center">
        <h1>{{ trick.name }}</h1>
        <div class="col d-flex flex-lg-row-reverse flex-wrap justify-content-center">
            <div class="col-12 col-lg-6">
                <img src="https://i.pinimg.com/originals/7d/60/a1/7d60a164b6462c6edebad8e61117ea61.jpg"
                    class="card-img-top" alt="...">
            </div>
            <div class="col-12 col-lg-6 d-flex flex-row flex-lg-column align-items-center justify-content-center">
                <div class="col-8 d-flex flex-column align-items-center">
                    <p>Groupe de figure: {{ trick.groupTrick }}</p>
                    <p>{{ trick.description }}</p>
                    
                </div>
                <div class="col-4 d-flex flex-column align-items-end pe-3 w-100">
                    <p>Créé le: {{ trick.dateCreate|date('d-m-Y') }}</p>
                    {% if trick.dateEdit is defined %}
                    <p>Modifié le: {{ trick.dateEdit|date('d-m-Y') }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}