{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}
<div class="container-fluid p-0">
    <section class="bg-header-homepage vh-100 d-flex flex-column align-items-center">
        <div class="d-flex h-100 flex-column justify-content-center align-items-center text-white">
            <h1>Bienvenue sur SnowTricks !</h1>
            <span>N'éhistez pas à partager & discuter avec tout le monde.</span>
        </div>
        <div class="col-12 d-flex flex-row-reverse">
            <a href="#trick" class="btn text-white align-items-end"><i class="fa-solid fa-square-caret-down fa-2xl"></i>
            </a>
        </div>
    </section>

    <section id="trick" class="container-fluid d-flex flex-column align-items-center">
        <h1>Tricks</h1>
        <div class="col d-flex flex-wrap justify-content-center">
            {% for trick in tricks %}
            {% set pictureUrl = '' %}
            {% if trick.pictures.0 is defined %}
                {% set pictureUrl = 'assets/uploads/'~trick.pictures.0.url %}
            {% else %}
                {% for group in groups %}
                    {% if group.id == trick.groups.id %}
                        {% set pictureUrl = 'image/'~group.illustrationUrl %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="card col-12 col-lg-3 m-2">
                <a href="{{ path('one_trick', {'name': trick.name}) }}" class="text-dark text-decoration-none">
                    <img src="{{ asset(pictureUrl) }}" class="card-img-top" alt="...">
                    <div class="col-12 d-flex align-items-center">
                        <a href="{{ path('one_trick', {'name': trick.name}) }}"
                            class="col-10 text-dark text-decoration-none">
                            <h2 class="col-10">{{ trick.name }}</h2>
                        </a>
                        {% if app.user %}
                        <a class="col-1 text-dark text-decoration-none"
                            href="{{ path('form_edit', {'name': trick.name}) }}">
                            <i class="col-1 fa-solid fa-pen"></i>
                        </a>
                        <a class="col-1 text-dark text-decoration-none"
                            href="{{ path('delete_trick', {'name': trick.name}) }}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                        {% endif %}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div>
            {% if previous >= 0 %}
            <a class="text-white text-decoration-none" href="{{ path('app_home', { offset: previous }) }}">
                <i class="fa-solid fa-square-caret-left fa-2xl"></i>
            </a>
            {% endif %}
            {% if next < tricks|length %} <a class="text-white text-decoration-none"
                href="{{ path('app_home', { offset: next }) }}">
                <i class="fa-solid fa-square-caret-right fa-2xl"></i>
                </a>
                {% endif %}
        </div>
        <div class="col-12 d-flex flex-row-reverse">
            <a href="#navbar" class="btn text-white"><i class="fa-solid fa-square-caret-up fa-2xl"></i></a>
        </div>
    </section>
</div>
{% endblock %}
