{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid container-lg">
    {{ form_start(formTrick) }}
    <div class="col col-12 d-flex flex-column align-items-center">
        <div class="row col-12 d-flex justify-content-center">

            <div class="col-lg-5 mb-3">
                {{ form_label(formTrick.name) }}
                {{ form_widget(formTrick.name, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-lg-5 mb-3">
                {{ form_label(formTrick.groups) }}
                {{ form_widget(formTrick.groups, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-12 col-lg-10 mb-3">
            {{ form_label(formTrick.description) }}
            {{ form_widget(formTrick.description, {'attr': {'class': 'form-control'}}) }}
        </div>

        <ul class="videos px-0 col-6 d-flex flex-column justify-content-center"
            data-index="{{ formTrick.videos|length > 0 ? formTrick.videos|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(formTrick.videos.vars.prototype)|e('html_attr') }}">
            <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="videos">Ajouter
                une vidéo</button>
            {% for video in formTrick.videos %}
            <li class="list-group-item d-flex justify-content-center my-2">
                {{ form_widget(video) }}
            </li>
            {% endfor %}
        </ul>

        <div class="mb-3">
            {{ form_row(formTrick.pictures) }}
        </div>

        <div class="d-flex flex-row justify-content-center">
            {% for picture in pictures %}
            <div class="col-2">
                <img class="col-10" src="{{ asset('assets/uploads/'~picture.url) }}" alt="">
                <div class="d-flex col-10 justify-content-end">
                    <a class="text-white text-decoration-none mx-1" href="">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <a class="text-white text-decoration-none mx-1" href="{{ path('delete_one_picture', { 'url': picture.url}) }}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        {{ form_rest(formTrick) }}
        <button type="submit" class="btn btn-primary col-6">Valider</button>
    </div>
    {{ form_end(formTrick) }}
</div>
<script>
    document
        .querySelectorAll('.add_item_link')
        .forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
        });

    function addFormToCollection(e) {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

        const item = document.createElement('li');
        item.classList.add('list-group-item', 'd-flex', 'justify-content-center', 'my-2');

        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
                /__name__/g,
                collectionHolder.dataset.index
            );

        collectionHolder.appendChild(item);

        collectionHolder.dataset.index++;

        addTagFormDeleteLink(item);
    };

    document
        .querySelectorAll('ul.videos li')
        .forEach((video) => {
            addTagFormDeleteLink(video)
        })

    function addTagFormDeleteLink(item) {
        const removeFormButton = document.createElement('button');
        removeFormButton.innerText = 'X';
        removeFormButton.classList.add('btn', 'btn-light');

        item.append(removeFormButton);

        removeFormButton.addEventListener('click', (e) => {
            e.preventDefault();
            // remove the li for the tag form
            item.remove();
        });
    }
</script>
{% endblock body %}