{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid container-lg">
    {{ form_start(formTrick) }}
    <div class="col col-12 d-flex flex-column align-items-center">
        <div class="row col-12 d-flex justify-content-center">

            <div class="col-lg-5 mb-3">
                {{ form_label(formTrick.name) }}
                {{ form_widget(formTrick.name, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-lg-5 mb-3">
                {{ form_label(formTrick.groupTrick) }}
                {{ form_widget(formTrick.groupTrick, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-12 col-lg-10 mb-3">
            {{ form_label(formTrick.description) }}
            {{ form_widget(formTrick.description, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_label(formTrick.videos.url) }}
        {{ form_widget(formTrick.videos.url, {'attr': {'class': 'form-control'}}) }}

        {{ form_rest(formTrick) }}
        <button type="submit" class="btn btn-primary col-6">Valider</button>
    </div>
    {{ form_end(formTrick) }}
</div>
{# <form method="post" action="" enctype="multipart/form-data">
    <div class="col col-12 d-flex flex-column align-items-center">
        <div class="row col-12 d-flex justify-content-center">
            <div class="col-lg-5 mb-3">
                <label for="nameTrick" class="form-label">Nom de la figure: </label>
                <input type="text" class="form-control" id="nameTrick">
            </div>
            <div class="col-lg-5 mb-3">
                <label for="groupTrick" class="form-label">Groupe de la figure: </label>
                <input type="text" class="form-control" id="groupTrick">
            </div>
        </div>
        <div class="col-12 col-lg-10 mb-3">
            <label for="descriptionTrick" class="form-label">Description: </label>
            <textarea type="textarea" class="form-control" id="descriptionTrick" rows="5" cols="33"
                placeholder="Veuillez expliquer et donner des détails sur votre figure"></textarea>
        </div>

        <div class="d-flex">
            <div class="col-lg-10 mb-3">
                <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>

            <div>
                <button class="btn btn-secondary" type="button" onclick="addImageField()">
                    <i class="fa-regular fa-image"></i>
                </button>
                <button class="btn btn-secondary" type="button" onclick="removeImageField()">
                    <i class="fa-solid fa-minus"></i>
                </button>
            </div>
        </div>

        <button type="submit" class="btn btn-primary col-6">Valider</button>
    </div>
</form> #}
<script>
    function addImageField() {
        var imageFieldsDiv = document.getElementById("imageFields");
        var newImageField = document.createElement("input");

        newImageField.setAttribute("type", "file");
        newImageField.setAttribute("name", "imageTrick[]");
        newImageField.setAttribute("accept", "image/*");
        imageFieldsDiv.appendChild(newImageField);
    }
    function removeImageField() {
        var imageFieldsDiv = document.getElementById("imageFields");
        var imageFields = imageFieldsDiv.getElementsByTagName("input");
        if (imageFields.length > 1) {
            imageFields[imageFields.length - 1].remove();
        }
    }
</script>
{% endblock body %}